USE [master]
GO
/****** Object:  Database [SinavTakvimiDB]    Script Date: 27.04.2026 23:34:18 ******/
CREATE DATABASE [SinavTakvimiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SinavTakvimiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SinavTakvimiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SinavTakvimiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SinavTakvimiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SinavTakvimiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SinavTakvimiDB]
GO
/****** Object:  User [App_Viewer]    Script Date: 27.04.2026 23:34:18 ******/
CREATE USER [App_Viewer] FOR LOGIN [App_Viewer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [App_Admin]    Script Date: 27.04.2026 23:34:18 ******/
CREATE USER [App_Admin] FOR LOGIN [App_Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [App_Admin]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PersonelGorevSayisi]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- UDF 1: fn_PersonelGorevSayisi  (Scalar UDF)
--
-- Bir personelin toplam gözetmenlik görev sayısını döndürür.
-- Görev yükü dengesi için sp_GozetmenAta ve vw_GozetmenYuk
-- tarafından çağrılır. Arayüzde personel kartında da gösterilir.
--
-- Kullanım:
--   SELECT dbo.fn_PersonelGorevSayisi(3)          → 5
--   SELECT dbo.fn_PersonelGorevSayisi(@PersonelID) → INT
-- ============================================================
CREATE   FUNCTION [dbo].[fn_PersonelGorevSayisi]
(
    @PersonelID INT
)
RETURNS INT
AS
BEGIN
    -- Scalar UDF içinde TRY/CATCH kullanılamaz (SQL Server kısıtı).
    -- Geçersiz PersonelID için 0 döndürülür.

    DECLARE @GorevSayisi INT;

    SELECT @GorevSayisi = COUNT(*)
    FROM   Gozetmen_Atamalari ga
    JOIN   Sinavlar           s  ON ga.SinavID = s.SinavID
    WHERE  ga.PersonelID = @PersonelID;

    -- NULL gelirse (hiç görev yoksa) 0 yap
    RETURN ISNULL(@GorevSayisi, 0);
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_SinavKapasite]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- UDF 2: fn_SinavKapasite  (Scalar UDF)
--
-- Bir sınava atanmış tüm salonların toplam kapasitesini döndürür.
-- sp_SalonAta'nın kapasite yeterlilik kontrolünde,
-- vw_SinavProgrami view'ında ve arayüz özet satırında kullanılır.
--
-- Kullanım:
--   SELECT dbo.fn_SinavKapasite(1)      → 140
--   SELECT dbo.fn_SinavKapasite(@SinavID) → INT
--
-- Henüz salon atanmamış sınav için 0 döner.
-- ============================================================
CREATE   FUNCTION [dbo].[fn_SinavKapasite]
(
    @SinavID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @ToplamKapasite INT;

    SELECT @ToplamKapasite = SUM(d.Kapasite)
    FROM   Sinav_Salonlari ss
    JOIN   Derslikler      d  ON ss.DerslikID = d.DerslikID
    WHERE  ss.SinavID = @SinavID;

    RETURN ISNULL(@ToplamKapasite, 0);
END;

GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[BolumID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[FakulteAdi] [nvarchar](100) NOT NULL,
	[Aktif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Bolumler_Ad] UNIQUE NONCLUSTERED 
(
	[Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oturumlar]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oturumlar](
	[OturumID] [int] IDENTITY(1,1) NOT NULL,
	[Tanim] [nvarchar](50) NOT NULL,
	[BaslangicSaat] [time](7) NOT NULL,
	[BitisSaat] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Oturumlar_Tanim] UNIQUE NONCLUSTERED 
(
	[Tanim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[Unvan] [nvarchar](30) NOT NULL,
	[Ad] [nvarchar](75) NOT NULL,
	[Soyad] [nvarchar](75) NOT NULL,
	[Eposta] [nvarchar](150) NULL,
	[BolumID] [int] NOT NULL,
	[Aktif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel_Durum]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel_Durum](
	[DurumID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[OturumID] [int] NULL,
	[MazeretTuru] [nvarchar](50) NOT NULL,
	[Uygun] [bit] NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[DurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PersonelDurum_Tekil] UNIQUE NONCLUSTERED 
(
	[PersonelID] ASC,
	[Tarih] ASC,
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinavlar]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinavlar](
	[SinavID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[OturumID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SinavID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sinavlar_DersBasvuru] UNIQUE NONCLUSTERED 
(
	[DersID] ASC,
	[Tarih] ASC,
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gozetmen_Atamalari]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gozetmen_Atamalari](
	[GozetmenAtamaID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NOT NULL,
	[DerslikID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GozetmenAtamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GozetmenAtama_Tekil] UNIQUE NONCLUSTERED 
(
	[SinavID] ASC,
	[DerslikID] ASC,
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MusaitPersonelListesi]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- UDF 3: fn_MusaitPersonelListesi  (Table-Valued UDF)
--
-- Belirli bir tarih ve oturumda görev alabilecek tüm
-- personeli, görev yükleriyle birlikte tablo olarak döndürür.
--
-- Uygulanan filtreler:
--   ✓ Personel aktif olmalı
--   ✓ O gün o oturumda mazereti olmamalı (Personel_Durum)
--   ✓ Aynı tarih + oturumda başka sınavda görevli olmamalı
--   ✓ O gün arka arkaya 3 veya daha fazla oturumda görevli olmamalı
--
-- Dönen sütunlar:
--   PersonelID, AdSoyad, BolumAdi, ToplamGorev, ArdArdaOturum
--
-- Kullanım:
--   SELECT * FROM dbo.fn_MusaitPersonelListesi('2026-01-15', 2)
--   SELECT * FROM dbo.fn_MusaitPersonelListesi(@Tarih, @OturumID)
--               WHERE BolumAdi = N'Yazılım Mühendisliği'
--               ORDER BY ToplamGorev ASC
-- ============================================================
CREATE   FUNCTION [dbo].[fn_MusaitPersonelListesi]
(
    @Tarih    DATE,
    @OturumID INT
)
RETURNS TABLE
AS
RETURN
(
    -- ── Adım 1: Bu oturumun gün içindeki sıra numarasını bul ──
    -- ── Adım 2: Her personel için ard arda oturum sayısını hesapla
    -- ── Adım 3: Tüm filtreleri uygula ve sonucu döndür
    WITH OturumSiralari AS (
        -- Her oturuma gün içi sıra numarası ver (1, 2, 3 ...)
        SELECT
            OturumID,
            ROW_NUMBER() OVER (ORDER BY BaslangicSaat) AS Sira
        FROM Oturumlar
    ),

    HedefOturumSira AS (
        -- @OturumID'nin gün içindeki sırasını al
        SELECT Sira AS HedefSira
        FROM   OturumSiralari
        WHERE  OturumID = @OturumID
    ),

    ArdArdaGorevler AS (
        -- Her personelin bu tarihte, hedef oturumdan önceki
        -- 2 oturumda (ard arda 3 kuralı için) kaç görevi var?
        SELECT
            ga.PersonelID,
            COUNT(DISTINCT os.Sira) AS ArdArdaOturum
        FROM  Gozetmen_Atamalari ga
        JOIN  Sinavlar           sv ON ga.SinavID  = sv.SinavID
        JOIN  OturumSiralari     os ON sv.OturumID = os.OturumID
        CROSS JOIN HedefOturumSira hos
        WHERE sv.Tarih  = @Tarih
          AND os.Sira   BETWEEN (hos.HedefSira - 2) AND (hos.HedefSira - 1)
        GROUP BY ga.PersonelID
    ),

    GorevYukleri AS (
        -- Her personelin genel toplam görev sayısı
        SELECT
            PersonelID,
            COUNT(*) AS ToplamGorev
        FROM  Gozetmen_Atamalari
        GROUP BY PersonelID
    ),

    BuOturumGorevliler AS (
        -- Bu tarih + oturumda zaten atanmış personel ID'leri
        SELECT DISTINCT ga.PersonelID
        FROM  Gozetmen_Atamalari ga
        JOIN  Sinavlar           sv ON ga.SinavID  = sv.SinavID
        WHERE sv.Tarih    = @Tarih
          AND sv.OturumID = @OturumID
    ),

    MazeretliPersonel AS (
        -- Bu tarihte bu oturumda mazereti olan personel ID'leri
        -- OturumID NULL ise tüm gün müsait değil demektir
        SELECT DISTINCT PersonelID
        FROM  Personel_Durum
        WHERE Tarih   = @Tarih
          AND Uygun   = 0
          AND (OturumID = @OturumID OR OturumID IS NULL)
    )

    -- ── Ana sorgu: tüm filtreler bir arada ───────────────────
    SELECT
        p.PersonelID,
        -- Unvan + Ad + Soyad birleşik gösterim
        p.Unvan + N' ' + p.Ad + N' ' + p.Soyad     AS AdSoyad,
        b.Ad                                         AS BolumAdi,
        ISNULL(gy.ToplamGorev,     0)                AS ToplamGorev,
        ISNULL(ag.ArdArdaOturum,  0)                AS ArdArdaOturum,
        -- Bölüm bilgisi (sp_GozetmenAta'nın havuz önceliği için)
        p.BolumID
    FROM       Personel         p
    JOIN       Bolumler         b   ON p.BolumID    = b.BolumID
    LEFT JOIN  GorevYukleri     gy  ON gy.PersonelID = p.PersonelID
    LEFT JOIN  ArdArdaGorevler  ag  ON ag.PersonelID = p.PersonelID
    -- Filtre 1: Aktif personel
    WHERE p.Aktif = 1
    -- Filtre 2: Bu oturumda zaten görevli değil
      AND p.PersonelID NOT IN (SELECT PersonelID FROM BuOturumGorevliler)
    -- Filtre 3: Mazereti yok
      AND p.PersonelID NOT IN (SELECT PersonelID FROM MazeretliPersonel)
    -- Filtre 4: Ard arda 3 oturum sınırı (son 2 oturumda görevliyse alma)
      AND ISNULL(ag.ArdArdaOturum, 0) < 2
);

GO
/****** Object:  Table [dbo].[Derslikler]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Derslikler](
	[DerslikID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Kapasite] [int] NOT NULL,
	[Tip] [nvarchar](20) NOT NULL,
	[Kat] [int] NULL,
	[Aktif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Derslikler_Ad] UNIQUE NONCLUSTERED 
(
	[Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nvarchar](20) NOT NULL,
	[Ad] [nvarchar](150) NOT NULL,
	[Ders_Turu] [nvarchar](20) NOT NULL,
	[OgrenciSayisi] [int] NOT NULL,
	[Yariyil] [int] NOT NULL,
	[BolumID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Dersler_DersKodu] UNIQUE NONCLUSTERED 
(
	[DersKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinav_Salonlari]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinav_Salonlari](
	[AtamaID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NOT NULL,
	[DerslikID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AtamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SinavSalonlari_Tekil] UNIQUE NONCLUSTERED 
(
	[SinavID] ASC,
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SinavProgrami]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SinavProgrami]
AS
SELECT
    s.SinavID,
    s.Tarih,
    DATENAME(WEEKDAY, s.Tarih) AS GunAdi,

    o.OturumID,
    o.Tanim AS Oturum,
    o.BaslangicSaat,
    o.BitisSaat,

    d.DersKodu,
    d.Ad AS DersAdi,
    d.Ders_Turu,
    d.Yariyil,
    d.OgrenciSayisi,

    b.Ad AS Bolum,

    STRING_AGG(dl.Ad, N' + ')
        WITHIN GROUP (ORDER BY dl.Kapasite DESC) AS Salonlar,

    SUM(dl.Kapasite) AS ToplamKapasite,

    CASE
        WHEN SUM(dl.Kapasite) >= d.OgrenciSayisi THEN N'Yeterli'
        ELSE N'YETERSİZ!'
    END AS KapasiteDurumu,

    SUM(dl.Kapasite) - d.OgrenciSayisi AS FazlaKapasite,

    COUNT(DISTINCT ga.GozetmenAtamaID) AS GozetmenSayisi,

    g.Gozetmenler -- ✅ temiz liste

FROM Sinavlar s
JOIN Dersler d ON s.DersID = d.DersID
JOIN Bolumler b ON d.BolumID = b.BolumID
JOIN Oturumlar o ON s.OturumID = o.OturumID

LEFT JOIN Sinav_Salonlari ss ON s.SinavID = ss.SinavID
LEFT JOIN Derslikler dl ON ss.DerslikID = dl.DerslikID

LEFT JOIN Gozetmen_Atamalari ga ON s.SinavID = ga.SinavID

-- ✅ BURASI KRİTİK (duplicate fix)
OUTER APPLY (
    SELECT STRING_AGG(
        CONCAT(p.Unvan, N' ', p.Ad, N' ', p.Soyad),
        N' | '
    ) AS Gozetmenler
    FROM Gozetmen_Atamalari ga2
    JOIN Personel p ON ga2.PersonelID = p.PersonelID
    WHERE ga2.SinavID = s.SinavID
) g

GROUP BY
    s.SinavID,
    s.Tarih,
    o.OturumID,
    o.Tanim,
    o.BaslangicSaat,
    o.BitisSaat,
    d.DersKodu,
    d.Ad,
    d.Ders_Turu,
    d.Yariyil,
    d.OgrenciSayisi,
    b.Ad,
    g.Gozetmenler;
GO
/****** Object:  View [dbo].[vw_GozetmenYukDagilimi]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- VIEW 2: vw_GozetmenYukDagilimi
--
-- Her personelin gözetmenlik yük bilgisini özetler.
-- "Adil Dağıtım" iş kuralının takibi için kullanılır.
-- sp_GozetmenAta'nın yük dengesini görsel olarak doğrular.
--
-- YukSeviyesi hesabı:
--   0 görev     → 'Görev Yok'
--   1-2 görev   → 'Az'
--   3-5 görev   → 'Normal'
--   6+  görev   → 'Fazla'
--
-- Kullanım:
--   SELECT * FROM vw_GozetmenYukDagilimi ORDER BY ToplamGorev DESC
--   SELECT * FROM vw_GozetmenYukDagilimi WHERE YukSeviyesi = N'Fazla'
--   SELECT * FROM vw_GozetmenYukDagilimi WHERE Bolum = N'Yazılım Mühendisliği'
-- ============================================================
CREATE   VIEW [dbo].[vw_GozetmenYukDagilimi]
AS
SELECT
    p.PersonelID,
    p.Unvan,
    p.Ad + N' ' + p.Soyad               AS AdSoyad,
    b.Ad                                 AS Bolum,

    -- Toplam gözetmenlik görevi (UDF ile aynı sonucu verir)
    COUNT(ga.GozetmenAtamaID)            AS ToplamGorev,

    -- Toplam gözetmenlik süresi (saat cinsinden)
    -- Her görev = oturumun süresi kadar
    ISNULL(
        SUM(
            DATEDIFF(MINUTE, o.BaslangicSaat, o.BitisSaat)
        ) / 60.0,
    0)                                   AS ToplamSaat,

    -- En son görev tarihi
    MAX(s.Tarih)                         AS SonGorevTarih,

    -- Görev yükü seviyesi
    CASE
        WHEN COUNT(ga.GozetmenAtamaID) = 0 THEN N'Görev Yok'
        WHEN COUNT(ga.GozetmenAtamaID) <= 2 THEN N'Az'
        WHEN COUNT(ga.GozetmenAtamaID) <= 5 THEN N'Normal'
        ELSE N'Fazla'
    END                                  AS YukSeviyesi,

    -- Aktif mi?
    CASE p.Aktif WHEN 1 THEN N'Aktif' ELSE N'Pasif' END AS PersonelDurumu

FROM           Personel              p
JOIN           Bolumler              b   ON  p.BolumID    = b.BolumID
LEFT JOIN      Gozetmen_Atamalari    ga  ON  p.PersonelID = ga.PersonelID
LEFT JOIN      Sinavlar              s   ON  ga.SinavID   = s.SinavID
LEFT JOIN      Oturumlar             o   ON  s.OturumID   = o.OturumID

GROUP BY
    p.PersonelID,
    p.Unvan,
    p.Ad,
    p.Soyad,
    p.Aktif,
    b.Ad;

GO
/****** Object:  View [dbo].[vw_SalonDolulukDurumu]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SalonDolulukDurumu]
AS
WITH SinavGunleri AS (
    SELECT DISTINCT Tarih FROM Sinavlar
),
TumKombinasyonlar AS (
    SELECT
        sg.Tarih,
        dl.DerslikID,
        dl.Ad        AS SalonAdi,
        dl.Kapasite,
        dl.Tip,
        dl.Kat,
        o.OturumID,
        o.Tanim      AS OturumTanim,
        o.BaslangicSaat,
        o.BitisSaat
    FROM      SinavGunleri   sg
    CROSS JOIN Derslikler    dl
    CROSS JOIN Oturumlar     o
    WHERE     dl.Aktif = 1
)
SELECT
    tk.Tarih,
    DATENAME(WEEKDAY, tk.Tarih)     AS GunAdi,
    tk.OturumTanim                  AS Oturum,
    tk.BaslangicSaat,
    tk.BitisSaat,
    tk.SalonAdi,
    tk.Kapasite,
    tk.Tip,
    tk.Kat,
    CASE
        WHEN ss.AtamaID IS NOT NULL THEN N'Dolu'
        ELSE N'Bos'
    END                             AS Durum,
    d.DersKodu                      AS AtananDersKodu,
    d.Ad                            AS AtananDersAdi,
    d.OgrenciSayisi                 AS AtananDersOgrSayisi,
    bol.Ad                          AS AtananBolum
FROM           TumKombinasyonlar    tk
LEFT JOIN      Sinavlar             s   ON  s.Tarih      = tk.Tarih
                                        AND s.OturumID   = tk.OturumID
LEFT JOIN      Sinav_Salonlari      ss  ON  ss.SinavID   = s.SinavID
                                        AND ss.DerslikID = tk.DerslikID
LEFT JOIN      Dersler              d   ON  s.DersID     = d.DersID
LEFT JOIN      Bolumler             bol ON  d.BolumID    = bol.BolumID;

GO
/****** Object:  Table [dbo].[Log_Tablosu]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Tablosu](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Tablo] [nvarchar](100) NOT NULL,
	[IslemTipi] [nvarchar](20) NOT NULL,
	[KayitID] [int] NULL,
	[EskiDeger] [nvarchar](max) NULL,
	[YeniDeger] [nvarchar](max) NULL,
	[Degistiren] [nvarchar](150) NOT NULL,
	[Tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinav_Donem_Ayarlari]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinav_Donem_Ayarlari](
	[AyarID] [int] IDENTITY(1,1) NOT NULL,
	[DonemAdi] [nvarchar](100) NOT NULL,
	[BaslangicTarih] [date] NOT NULL,
	[BitisTarih] [date] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AyarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinav_Limit_Uyarilari]    Script Date: 27.04.2026 23:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinav_Limit_Uyarilari](
	[UyariID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NOT NULL,
	[Yariyil] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[SinavSayisi] [int] NOT NULL,
	[UyariMesaji] [nvarchar](500) NOT NULL,
	[OlusturmaTar] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UyariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dersler_Yariyil_Bolum]    Script Date: 27.04.2026 23:34:18 ******/
CREATE NONCLUSTERED INDEX [IX_Dersler_Yariyil_Bolum] ON [dbo].[Dersler]
(
	[Yariyil] ASC,
	[BolumID] ASC
)
INCLUDE([DersID],[OgrenciSayisi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GozetmenAtama_Personel]    Script Date: 27.04.2026 23:34:18 ******/
CREATE NONCLUSTERED INDEX [IX_GozetmenAtama_Personel] ON [dbo].[Gozetmen_Atamalari]
(
	[PersonelID] ASC
)
INCLUDE([SinavID],[DerslikID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Log_Tarih]    Script Date: 27.04.2026 23:34:18 ******/
CREATE NONCLUSTERED INDEX [IX_Log_Tarih] ON [dbo].[Log_Tablosu]
(
	[Tarih] DESC
)
INCLUDE([Tablo],[IslemTipi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonelDurum_PersonelTarih]    Script Date: 27.04.2026 23:34:18 ******/
CREATE NONCLUSTERED INDEX [IX_PersonelDurum_PersonelTarih] ON [dbo].[Personel_Durum]
(
	[PersonelID] ASC,
	[Tarih] ASC
)
INCLUDE([OturumID],[Uygun]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SinavSalon_Derslik]    Script Date: 27.04.2026 23:34:18 ******/
CREATE NONCLUSTERED INDEX [IX_SinavSalon_Derslik] ON [dbo].[Sinav_Salonlari]
(
	[DerslikID] ASC
)
INCLUDE([SinavID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sinavlar_Tarih_Oturum]    Script Date: 27.04.2026 23:34:18 ******/
CREATE NONCLUSTERED INDEX [IX_Sinavlar_Tarih_Oturum] ON [dbo].[Sinavlar]
(
	[Tarih] ASC,
	[OturumID] ASC
)
INCLUDE([DersID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bolumler] ADD  DEFAULT (N'Mühendislik Fakültesi') FOR [FakulteAdi]
GO
ALTER TABLE [dbo].[Bolumler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Dersler] ADD  DEFAULT (N'Zorunlu') FOR [Ders_Turu]
GO
ALTER TABLE [dbo].[Derslikler] ADD  DEFAULT (N'Sinif') FOR [Tip]
GO
ALTER TABLE [dbo].[Derslikler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Log_Tablosu] ADD  DEFAULT (suser_sname()) FOR [Degistiren]
GO
ALTER TABLE [dbo].[Log_Tablosu] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Personel] ADD  DEFAULT (N'Dr. Öğr. Üyesi') FOR [Unvan]
GO
ALTER TABLE [dbo].[Personel] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Personel_Durum] ADD  DEFAULT (N'Izinli') FOR [MazeretTuru]
GO
ALTER TABLE [dbo].[Personel_Durum] ADD  DEFAULT ((0)) FOR [Uygun]
GO
ALTER TABLE [dbo].[Sinav_Donem_Ayarlari] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Sinav_Donem_Ayarlari] ADD  DEFAULT (getdate()) FOR [OlusturmaTarih]
GO
ALTER TABLE [dbo].[Sinav_Limit_Uyarilari] ADD  DEFAULT (getdate()) FOR [OlusturmaTar]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD  CONSTRAINT [FK_Dersler_Bolum] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Dersler] CHECK CONSTRAINT [FK_Dersler_Bolum]
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari]  WITH CHECK ADD  CONSTRAINT [FK_GozetmenAtama_Derslik] FOREIGN KEY([DerslikID])
REFERENCES [dbo].[Derslikler] ([DerslikID])
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari] CHECK CONSTRAINT [FK_GozetmenAtama_Derslik]
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari]  WITH CHECK ADD  CONSTRAINT [FK_GozetmenAtama_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari] CHECK CONSTRAINT [FK_GozetmenAtama_Personel]
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari]  WITH CHECK ADD  CONSTRAINT [FK_GozetmenAtama_Sinav] FOREIGN KEY([SinavID])
REFERENCES [dbo].[Sinavlar] ([SinavID])
GO
ALTER TABLE [dbo].[Gozetmen_Atamalari] CHECK CONSTRAINT [FK_GozetmenAtama_Sinav]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Bolum] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_Bolum]
GO
ALTER TABLE [dbo].[Personel_Durum]  WITH CHECK ADD  CONSTRAINT [FK_PersonelDurum_Oturum] FOREIGN KEY([OturumID])
REFERENCES [dbo].[Oturumlar] ([OturumID])
GO
ALTER TABLE [dbo].[Personel_Durum] CHECK CONSTRAINT [FK_PersonelDurum_Oturum]
GO
ALTER TABLE [dbo].[Personel_Durum]  WITH CHECK ADD  CONSTRAINT [FK_PersonelDurum_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[Personel_Durum] CHECK CONSTRAINT [FK_PersonelDurum_Personel]
GO
ALTER TABLE [dbo].[Sinav_Limit_Uyarilari]  WITH CHECK ADD  CONSTRAINT [FK_UyariSinav_Sinav] FOREIGN KEY([SinavID])
REFERENCES [dbo].[Sinavlar] ([SinavID])
GO
ALTER TABLE [dbo].[Sinav_Limit_Uyarilari] CHECK CONSTRAINT [FK_UyariSinav_Sinav]
GO
ALTER TABLE [dbo].[Sinav_Salonlari]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalonlari_Derslik] FOREIGN KEY([DerslikID])
REFERENCES [dbo].[Derslikler] ([DerslikID])
GO
ALTER TABLE [dbo].[Sinav_Salonlari] CHECK CONSTRAINT [FK_SinavSalonlari_Derslik]
GO
ALTER TABLE [dbo].[Sinav_Salonlari]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalonlari_Sinav] FOREIGN KEY([SinavID])
REFERENCES [dbo].[Sinavlar] ([SinavID])
GO
ALTER TABLE [dbo].[Sinav_Salonlari] CHECK CONSTRAINT [FK_SinavSalonlari_Sinav]
GO
ALTER TABLE [dbo].[Sinavlar]  WITH CHECK ADD  CONSTRAINT [FK_Sinavlar_Ders] FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
GO
ALTER TABLE [dbo].[Sinavlar] CHECK CONSTRAINT [FK_Sinavlar_Ders]
GO
ALTER TABLE [dbo].[Sinavlar]  WITH CHECK ADD  CONSTRAINT [FK_Sinavlar_Oturum] FOREIGN KEY([OturumID])
REFERENCES [dbo].[Oturumlar] ([OturumID])
GO
ALTER TABLE [dbo].[Sinavlar] CHECK CONSTRAINT [FK_Sinavlar_Oturum]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD  CONSTRAINT [CK_Dersler_OgrSayisi] CHECK  (([OgrenciSayisi]>(0)))
GO
ALTER TABLE [dbo].[Dersler] CHECK CONSTRAINT [CK_Dersler_OgrSayisi]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD  CONSTRAINT [CK_Dersler_Tur] CHECK  (([Ders_Turu]=N'Secmeli' OR [Ders_Turu]=N'Zorunlu'))
GO
ALTER TABLE [dbo].[Dersler] CHECK CONSTRAINT [CK_Dersler_Tur]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD  CONSTRAINT [CK_Dersler_Yariyil] CHECK  (([Yariyil]>=(1) AND [Yariyil]<=(8)))
GO
ALTER TABLE [dbo].[Dersler] CHECK CONSTRAINT [CK_Dersler_Yariyil]
GO
ALTER TABLE [dbo].[Derslikler]  WITH CHECK ADD  CONSTRAINT [CK_Derslikler_Kapasite] CHECK  (([Kapasite]>(0)))
GO
ALTER TABLE [dbo].[Derslikler] CHECK CONSTRAINT [CK_Derslikler_Kapasite]
GO
ALTER TABLE [dbo].[Derslikler]  WITH CHECK ADD  CONSTRAINT [CK_Derslikler_Tip] CHECK  (([Tip]=N'Lab' OR [Tip]=N'Sinif' OR [Tip]=N'Amfi'))
GO
ALTER TABLE [dbo].[Derslikler] CHECK CONSTRAINT [CK_Derslikler_Tip]
GO
ALTER TABLE [dbo].[Log_Tablosu]  WITH CHECK ADD  CONSTRAINT [CK_Log_IslemTipi] CHECK  (([IslemTipi]='DELETE' OR [IslemTipi]='UPDATE' OR [IslemTipi]='INSERT'))
GO
ALTER TABLE [dbo].[Log_Tablosu] CHECK CONSTRAINT [CK_Log_IslemTipi]
GO
ALTER TABLE [dbo].[Oturumlar]  WITH CHECK ADD  CONSTRAINT [CK_Oturumlar_SaatSira] CHECK  (([BitisSaat]>[BaslangicSaat]))
GO
ALTER TABLE [dbo].[Oturumlar] CHECK CONSTRAINT [CK_Oturumlar_SaatSira]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [CK_Personel_Unvan] CHECK  (([Unvan]=N'Arş. Gör.' OR [Unvan]=N'Öğr. Gör.' OR [Unvan]=N'Dr. Öğr. Üyesi' OR [Unvan]=N'Doç. Dr.' OR [Unvan]=N'Prof. Dr.'))
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [CK_Personel_Unvan]
GO
ALTER TABLE [dbo].[Personel_Durum]  WITH CHECK ADD  CONSTRAINT [CK_Personel_Durum_MazeretTuru] CHECK  (([MazeretTuru]=N'Diger' OR [MazeretTuru]=N'Saglik' OR [MazeretTuru]=N'Konferans' OR [MazeretTuru]=N'Danismanlik' OR [MazeretTuru]=N'Izinli'))
GO
ALTER TABLE [dbo].[Personel_Durum] CHECK CONSTRAINT [CK_Personel_Durum_MazeretTuru]
GO
ALTER TABLE [dbo].[Sinav_Donem_Ayarlari]  WITH CHECK ADD  CONSTRAINT [CK_Donem_TarihSira] CHECK  (([BitisTarih]>[BaslangicTarih]))
GO
ALTER TABLE [dbo].[Sinav_Donem_Ayarlari] CHECK CONSTRAINT [CK_Donem_TarihSira]
GO
/****** Object:  StoredProcedure [dbo].[sp_GozetmenAta]    Script Date: 27.04.2026 23:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- SP 3: sp_GozetmenAta
-- Belirli bir sınav + salon için uygun gözetmeni bulur ve atar.
--
-- Kural 1 → Mazeret günü (Personel_Durum.Uygun = 0) olanlar elenir.
-- Kural 2 → Aynı anda başka sınavda görevli olanlar elenir.
-- Kural 3 → Arka arkaya 3 oturumdan fazla görevli olanlar elenir.
-- Kural 4 → Önce dersin bölümünden personel aranır.
--            Yetmezse fakülte havuzuna (tüm bölümler) geçilir.
-- Kural 5 → Müsait adaylar arasından en az görev yüklü seçilir
--            (adil dağıtım).
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_GozetmenAta]
    @SinavID    INT,
    @DerslikID  INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ── Doğrulama ─────────────────────────────────────────
        IF NOT EXISTS (
            SELECT 1 FROM Sinav_Salonlari
            WHERE SinavID = @SinavID AND DerslikID = @DerslikID
        )
            THROW 50040,
                N'Hata: Bu SinavID + DerslikID kombinasyonu Sinav_Salonlari tablosunda bulunamadı.',
                1;

        IF EXISTS (
            SELECT 1 FROM Gozetmen_Atamalari
            WHERE SinavID = @SinavID AND DerslikID = @DerslikID
        )
            THROW 50041,
                N'Hata: Bu salon için zaten bir gözetmen atanmış.',
                1;

        -- ── Sınav bilgilerini çek ─────────────────────────────
        DECLARE @SinavTarih    DATE;
        DECLARE @SinavOturum   INT;
        DECLARE @DersBolumID   INT;

        SELECT
            @SinavTarih  = s.Tarih,
            @SinavOturum = s.OturumID,
            @DersBolumID = d.BolumID
        FROM Sinavlar s
        JOIN Dersler  d ON s.DersID = d.DersID
        WHERE s.SinavID = @SinavID;

        -- ── Gözetmeni Seç: fn_MusaitPersonelListesi UDF ile ─────

        -- Tüm filtreler (mazeret, çakışma, ard arda 3 oturum,
        -- görev yükü) UDF içinde uygulanıyor.
        -- Bölüm önceliği (HavuzTuru) ORDER BY ile sağlanıyor:
        --   BolumID = @DersBolumID → 0 (kendi bölümü, önce gelir)
        --   BolumID <> @DersBolumID → 1 (fakülte havuzu, sonra gelir)
        DECLARE @SecilenPersonelID INT;

        SELECT TOP 1
            @SecilenPersonelID = PersonelID
        FROM dbo.fn_MusaitPersonelListesi(@SinavTarih, @SinavOturum)
        ORDER BY
            CASE WHEN BolumID = @DersBolumID THEN 0 ELSE 1 END ASC,
            ToplamGorev                                         ASC;

        IF @SecilenPersonelID IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 50050,
                N'Gözetmen Bulunamadı: Tüm koşulları karşılayan müsait personel yok. Mazeret kayıtlarını veya oturum atamalarını kontrol edin.',
                1;
        END

        -- Atamayı kaydet
        INSERT INTO Gozetmen_Atamalari (SinavID, DerslikID, PersonelID)
        VALUES (@SinavID, @DerslikID, @SecilenPersonelID);

        COMMIT TRANSACTION;

        -- ── Sonuç ─────────────────────────────────────────────
        SELECT
            ga.GozetmenAtamaID,
            p.Unvan + N' ' + p.Ad + N' ' + p.Soyad AS GozetmenAdSoyad,
            b.Ad            AS BolumAdi,
            dl.Ad           AS SalonAdi,
            CASE WHEN p.BolumID = @DersBolumID
                 THEN N'Kendi Bölümü'
                 ELSE N'Fakülte Havuzu'
            END             AS AtamaKaynagi
        FROM Gozetmen_Atamalari ga
        JOIN Personel           p  ON ga.PersonelID  = p.PersonelID
        JOIN Bolumler           b  ON p.BolumID      = b.BolumID
        JOIN Derslikler         dl ON ga.DerslikID   = dl.DerslikID
        WHERE ga.SinavID   = @SinavID
          AND ga.DerslikID = @DerslikID;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_SalonAta]    Script Date: 27.04.2026 23:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- SP 2: sp_SalonAta
-- Bir sınavın kontenjanına göre uygun salonları otomatik seçip
-- Sinav_Salonlari tablosuna atar.
--
-- Öncelik sırası:
--   1. O oturumda boş olan salonlar
--   2. Aynı kattaki salonlar (varsa)
--   3. En büyük kapasiteden küçüğe doğru
--
-- Yeterli kapasite bulunamazsa tüm atamayı ROLLBACK atar.
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_SalonAta]
    @SinavID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ── Sınav var mı? ─────────────────────────────────────
        IF NOT EXISTS (SELECT 1 FROM Sinavlar WHERE SinavID = @SinavID)
            THROW 50020, N'Hata: Belirtilen SinavID bulunamadı.', 1;

        -- ── Önceden atanmış salon var mı? ────────────────────
        IF EXISTS (SELECT 1 FROM Sinav_Salonlari WHERE SinavID = @SinavID)
            THROW 50021,
                N'Hata: Bu sınava zaten salon atanmış. Önce mevcut atamaları silin.',
                1;

        -- ── Sınava ait bilgileri çek ──────────────────────────
        DECLARE @OgrenciSayisi  INT;
        DECLARE @SinavOturumID  INT;
        DECLARE @SinavTarih     DATE;

        SELECT
            @OgrenciSayisi = d.OgrenciSayisi,
            @SinavOturumID = s.OturumID,
            @SinavTarih    = s.Tarih
        FROM Sinavlar s
        JOIN Dersler  d ON s.DersID = d.DersID
        WHERE s.SinavID = @SinavID;

        -- ── Boş salonları bul (büyükten küçüğe, aynı kat önce) ─
        -- O oturumda + o tarihte başka sınava atanmamış aktif salonlar
        -- Aynı kat: İlk seçilen salonun katını referans alır (aşağıda güncellenir)
        DECLARE @KalanKontenjan   INT = @OgrenciSayisi;
        DECLARE @ToplamKapasite   INT = 0;
        DECLARE @AtananSalonSayisi INT = 0;
        DECLARE @ReferansKat       INT = NULL;

        -- Geçici tablo: uygun salonları sıralı tutar
        CREATE TABLE #UygunSalonlar (
            Sira       INT IDENTITY(1,1),
            DerslikID  INT,
            Ad         NVARCHAR(50),
            Kapasite   INT,
            Kat        INT
        );

        INSERT INTO #UygunSalonlar (DerslikID, Ad, Kapasite, Kat)
        SELECT
            dl.DerslikID,
            dl.Ad,
            dl.Kapasite,
            dl.Kat
        FROM Derslikler dl
        WHERE dl.Aktif = 1
          -- O oturumda başka sınava atanmamış olmalı
          AND dl.DerslikID NOT IN (
              SELECT ss.DerslikID
              FROM   Sinav_Salonlari ss
              JOIN   Sinavlar        s2 ON ss.SinavID = s2.SinavID
              WHERE  s2.OturumID = @SinavOturumID
                AND  s2.Tarih    = @SinavTarih
                AND  s2.SinavID <> @SinavID
          )
        ORDER BY
            dl.Kapasite DESC;   -- Büyükten küçüğe

        -- ── Greedy Salon Seçimi ───────────────────────────────
        DECLARE @SiraDerslikID  INT;
        DECLARE @SiraKapasite   INT;
        DECLARE @SiraKat        INT;
        DECLARE @SiraSayac      INT = 1;
        DECLARE @ToplamSalonSayisi INT;
        SELECT @ToplamSalonSayisi = COUNT(*) FROM #UygunSalonlar;

        WHILE @KalanKontenjan > 0 AND @SiraSayac <= @ToplamSalonSayisi
        BEGIN
            SELECT
                @SiraDerslikID = DerslikID,
                @SiraKapasite  = Kapasite,
                @SiraKat       = Kat
            FROM #UygunSalonlar
            WHERE Sira = @SiraSayac;

            -- İlk salon seçildiyse katı referans olarak kaydet
            IF @ReferansKat IS NULL AND @SiraKat IS NOT NULL
                SET @ReferansKat = @SiraKat;

            -- Aynı kat önceliği: eğer farklı kattaysa ve aynı katta
            -- henüz denemedikse bir sonraki sıraya geç
            -- (Basit strateji: ilk turu aynı katta, ikinci turda her katta)
            -- Bu örnekte tüm salonları sırayla alıyoruz,
            -- aynı kat önceliği ise ORDER BY ile zaten sağlanır.

            INSERT INTO Sinav_Salonlari (SinavID, DerslikID)
            VALUES (@SinavID, @SiraDerslikID);

            SET @KalanKontenjan    = @KalanKontenjan - @SiraKapasite;
            SET @ToplamKapasite    = @ToplamKapasite + @SiraKapasite;
            SET @AtananSalonSayisi = @AtananSalonSayisi + 1;
            SET @SiraSayac         = @SiraSayac + 1;
        END;

        DROP TABLE #UygunSalonlar;

        -- ── Kapasite Yeterli mi? ──────────────────────────────
        IF @KalanKontenjan > 0
        BEGIN
            ROLLBACK TRANSACTION;
            DECLARE @KapHata NVARCHAR(300);
            SET @KapHata = CONCAT(
                N'Kapasite Hatası: Mevcut boş salonların toplam kapasitesi (',
                @ToplamKapasite,
                N') öğrenci sayısının (',
                @OgrenciSayisi,
                N') altında. Atama iptal edildi.'
            );
            THROW 50030, @KapHata, 1;
        END

        COMMIT TRANSACTION;

        -- ── Sonuç Raporu ──────────────────────────────────────
        SELECT
            ss.AtamaID,
            dl.Ad           AS SalonAdi,
            dl.Kapasite,
            dl.Kat,
            @OgrenciSayisi  AS OgrenciSayisi,
            @ToplamKapasite AS AtananToplamKapasite,
            @AtananSalonSayisi AS GozetmenSayisi   -- Her salon için 1 gözetmen
        FROM Sinav_Salonlari ss
        JOIN Derslikler      dl ON ss.DerslikID = dl.DerslikID
        WHERE ss.SinavID = @SinavID;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        IF OBJECT_ID('tempdb..#UygunSalonlar') IS NOT NULL
            DROP TABLE #UygunSalonlar;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_SinavEkle]    Script Date: 27.04.2026 23:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SP 1: sp_SinavEkle
-- Yeni bir sınav kaydı ekler.
--
-- Kontrol 1 → Aynı yarıyıldaki ZORUNLU dersler aynı oturumda
--             olamaz (çakışma engeli).
-- Kontrol 2 → Bir yarıyıla aynı günde 2'den fazla sınav
--             varsa UYARI tablosuna kayıt düşer (engel değil).
-- Kontrol 3 → Aynı ders için daha önce sınav girilmiş mi?
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_SinavEkle]
    @DersID    INT,
    @Tarih     DATE,
    @OturumID  INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ── Girdi Doğrulama ──────────────────────────────────
        IF NOT EXISTS (SELECT 1 FROM Dersler WHERE DersID = @DersID)
            THROW 50001, N'Hata: Belirtilen DersID bulunamadı.', 1;

        IF NOT EXISTS (SELECT 1 FROM Oturumlar WHERE OturumID = @OturumID)
            THROW 50002, N'Hata: Belirtilen OturumID bulunamadı.', 1;

        -- ── Kontrol 1: Aynı Yarıyıl + Aynı Oturum Çakışması ─
        -- Aynı oturumda aynı yarıyıldan başka bir ZORUNLU ders
        -- sınavı var mı?
        DECLARE @YeniYariyil INT;
        DECLARE @YeniDersTur NVARCHAR(20);
        SELECT  @YeniYariyil = Yariyil,
                @YeniDersTur = Ders_Turu
        FROM    Dersler
        WHERE   DersID = @DersID;

        IF @YeniDersTur = N'Zorunlu'
        BEGIN
            IF EXISTS (
                SELECT 1
                FROM   Sinavlar     s
                JOIN   Dersler      d  ON s.DersID   = d.DersID
                WHERE  s.Tarih     = @Tarih
                  AND  s.OturumID  = @OturumID
                  AND  d.Yariyil   = @YeniYariyil
                  AND  d.Ders_Turu = N'Zorunlu'
                  AND  d.DersID   <> @DersID
            )
            BEGIN
                DECLARE @HataMsj NVARCHAR(300);
                SET @HataMsj = CONCAT(
                    N'Çakışma Hatası: ', @YeniYariyil,
                    N'. yarıyılda bu oturumda zaten bir zorunlu ders sınavı mevcut. ',
                    N'Tarih: ', CONVERT(NVARCHAR, @Tarih, 104),
                    N' | OturumID: ', @OturumID
                );
                THROW 50010, @HataMsj, 1;
            END
        END

        -- ── Kontrol 2: Aynı Ders İçin Mükerrer Sınav ────────
        IF EXISTS (
            SELECT 1 FROM Sinavlar
            WHERE  DersID = @DersID
        )
        BEGIN
            THROW 50011,
                N'Uyarı: Bu ders için zaten bir sınav kaydı mevcut. Güncelleme için sp_SinavGuncelle kullanın.',
                1;
        END

        -- ── Sınavı Ekle ───────────────────────────────────────
        INSERT INTO Sinavlar (DersID, Tarih, OturumID)
        VALUES (@DersID, @Tarih, @OturumID);

        DECLARE @YeniSinavID INT = SCOPE_IDENTITY();

        -- ── Kontrol 3: Günlük Limit Uyarısı ──────────────────
        -- Aynı yarıyıl + aynı günde kaç sınav var şimdi?
        DECLARE @GunlukSinavSayisi INT;
        SELECT  @GunlukSinavSayisi = COUNT(*)
        FROM    Sinavlar s
        JOIN    Dersler  d ON s.DersID = d.DersID
        WHERE   s.Tarih   = @Tarih
          AND   d.Yariyil = @YeniYariyil;

        IF @GunlukSinavSayisi > 2
        BEGIN
            DECLARE @UyariMsj NVARCHAR(500);
            SET @UyariMsj = CONCAT(
                N'Günlük Limit Uyarısı: ', @YeniYariyil,
                N'. yarıyıl için ', CONVERT(NVARCHAR, @Tarih, 104),
                N' tarihinde toplam ', @GunlukSinavSayisi,
                N' sınav planlandı. Önerilen maksimum: 2.'
            );
            INSERT INTO Sinav_Limit_Uyarilari
                (SinavID, Yariyil, Tarih, SinavSayisi, UyariMesaji)
            VALUES
                (@YeniSinavID, @YeniYariyil, @Tarih, @GunlukSinavSayisi, @UyariMsj);
        END

        COMMIT TRANSACTION;

        -- Başarı çıktısı (uygulama tarafı okur)
        SELECT
            @YeniSinavID            AS SinavID,
            @GunlukSinavSayisi      AS GunlukSinavSayisi,
            CASE WHEN @GunlukSinavSayisi > 2
                 THEN N'UYARI: Günlük limit aşıldı.'
                 ELSE N'OK'
            END                     AS Durum;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        -- Hatayı üst katmana ilet
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_VeritabaniYedekle]    Script Date: 27.04.2026 23:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_VeritabaniYedekle]
AS
BEGIN
    SET NOCOUNT ON;
    SET IMPLICIT_TRANSACTIONS OFF;     -- ← transaction dışına çık

    DECLARE @DosyaYolu NVARCHAR(500);
    DECLARE @YedekSQL  NVARCHAR(800);

    SET @DosyaYolu = N'C:\Yedekler\SinavTakvimiDB_' 
                   + FORMAT(GETDATE(), 'yyyyMMdd_HHmm') + N'.bak';

    SET @YedekSQL = N'BACKUP DATABASE [SinavTakvimiDB] TO DISK = N''' 
                  + @DosyaYolu 
                  + N''' WITH FORMAT, COMPRESSION, STATS = 10;';

    EXEC sp_executesql @YedekSQL;

    INSERT INTO Log_Tablosu 
        (Tablo, IslemTipi, KayitID, EskiDeger, YeniDeger, Degistiren, Tarih)
    VALUES 
        (N'YEDEK', N'INSERT', NULL, NULL, 
         N'Dosya: ' + @DosyaYolu, SYSTEM_USER, GETDATE());

    SELECT N'Yedekleme Basarili' AS Durum, 
           @DosyaYolu            AS DosyaYolu, 
           GETDATE()             AS Zaman;
END;

GO
USE [master]
GO
